<link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
<h1>Job Board</h1>
<form action="/jobs" method="post">

  <label for="petName">Title:</label>
  <input id="petName" name="petName" type="text">
  <br>

  <button type="submit"> Create your Tamagotchi pet! </button>
</form>
